#line-graph {
  margin: 20px;
}

#top-row{
  display: flex
}

#app {
  display: inline-block;
}

#maps {
  display: flex;
}

.map {
  display: flex;
  flex-direction: column;
}

#mid {
  display: flex;
  flex-direction: column;
}

.axis-label{
  font-size: 10px
}

a {
  cursor: pointer;
}

html,
body {
  font-family: 'PT Serif Caption', serif;
  height: 100%;
  margin: auto;
  padding: 0;
  width: 100%;
  align-content: center;
  text-align: center;
}

#dist-legend{
  display: inline-block;
}

table{
  display: inline-block;
}

td{
  max-height: 20px
}
